<style>
    #user-update {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="message-update">
    <form class="layui-form" action="" lay-filter="message-update-form">
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">用户id：</label>
            <div class="layui-input-block">
                <input type="text" name="messageId" data-th-value="${message.messageId}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名：</label>
            <div class="layui-input-block">
                <input type="text" name="name" minlength="4" maxlength="10" data-th-id="${message.messageId}"
                       lay-verify="range|name" autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机：</label>
            <div class="layui-input-block">
                <input type="tel" name="phone" lay-verify="phone" autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年龄：</label>
            <div class="layui-input-block">
                <input type="text" name="age" lay-verify="age" autocomplete="off"
                       class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱：</label>
            <div class="layui-input-block">
                <input type="text" name="email" lay-verify="email" maxlength="50" autocomplete="off"
                       class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">民族：</label>
            <div class="layui-input-block">
                <input type="text" name="nation" lay-verify="nation"  autocomplete="off"
                       class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">籍贯：</label>
            <div class="layui-input-block">
                <input type="text" name="nativePlace" lay-verify="nativePlace" autocomplete="off"
                       class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证号码：</label>
            <div class="layui-input-block">
                <input type="text" name="identity" lay-verify="identity" autocomplete="off"
                       class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">通信地址：</label>
            <div class="layui-input-block">
                <input type="text" name="address" lay-verify="address" autocomplete="off"
                       class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">在住老人：</label>
            <div class="layui-input-block">
                <input type="text" name="elder" lay-verify="elder" autocomplete="off"
                       class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">关系：</label>
            <div class="layui-input-block">
                <input type="text" name="relation" lay-verify="relation" autocomplete="off"
                       class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别：</label>
            <div class="layui-input-block" >
                <input type="radio" name="gender" value="0" title="男性" disabled>
                <input type="radio" name="gender" value="1" title="女性" disabled>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea name="remarks" maxlength="100" class="layui-textarea" readonly>
                </textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">审核结果：</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="1" title="审核通过" checked="">
                <input type="radio" name="status" value="2" title="退回">
            </div>
        </div>

        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="user-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>
<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'xmSelect', 'validate'], function () {
        let $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            $view = $('#message-update'),
            xmSelect = layui.xmSelect,
            message = [[${message}]],
            user = [[${user}]],
            validate = layui.validate,
            $submit2 = $view.find('#submit2');

        form.verify(validate);
        form.render();

        initUserValue();

        function initUserValue() {
            form.val("message-update-form", {
                "name": message.name,
                "phone": message.phone,
                "age": message.age,
                "email": message.email,
                "gender": message.gender,
                "remarks": message.remarks,
                "nation": message.nation,
                "nativePlace": message.nativePlace,
                "identity": message.identity,
                "address": message.address,
                "elder": message.elder,
                "relation": message.relation
            });
        }

        form.on('submit(user-update-form-submit)', function (data) {
            febs.post(ctx + 'message/audit/update', data.field, function () {
                layer.closeAll();
                if (data.field.status == '1'){
                    febs.alert.success(message.name + '的信息审核成功');
                }else {
                    febs.alert.success(message.name + '的信息退回');
                }
                $('#febs-user').find('#query').click();
            });
            return false;
        });


    });
</script>

